.grid {
    width: 400px;
    height: 600px;
    background-image: url('./content/background.png');
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler {
    width: 85px;
    height: 85px;
    background: url('content/doodler-guy.png') repeat 0 0;
    position: absolute;
}

.platform {         
    
    width: 85px;
    height: 15px;
    background: url('./content/platform.png') no-repeat;
    position: absolute;
}

.button {
    position: absolute;
}